@charset "UTF-8";

.sproducts h2 {
	margin-top:60px;
	margin-bottom:50px;
	font-weight:bold;
	
}

.aproducts h2 {
	margin-top:60px;
	margin-bottom:50px;
	font-weight:bold;
}

.accessories h2 {
	margin-top:60px;
	margin-bottom:50px;
	font-weight:bold;
}


#products {
	margin-bottom:50px;
	
}